* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #47bfdd;
}

.description {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px; /* Aumentar el ancho de la descripción */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.carousel-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}
.carousel-item p {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;    
    transition: 0.3s;
}
.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para el zoom */
.zoom-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.zoom-container img {
    max-width: 90%;
    max-height: 90%;
}
.close-zoom {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: rgb(252, 3, 3);
    cursor: pointer;
}
